@import "./mixin";
.feed-page {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  @include phone {
    grid-template-columns: 1fr 600px !important;
  }

  @include miniPhone {
    grid-template-columns: 70px 1fr !important;
  }
  @include sm {
    grid-template-columns: 70px 400px !important;
  }
  // Left
  .left-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    min-height: 100vh;
    margin-top: 20px;
    padding: 10px;

    // Nav
    nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
      img {
        width: 80px;
        @include tablet {
          width: 50px;
        }
      }
      @include tablet {
        align-items: center;
      }

      span {
        @include tablet {
          display: none !important;
        }
      }

      a {
        color: white;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 20px 10px;
        border-radius: 6px;
        transition: all 0.5s ease;
        font-size: 20px;
        &:hover {
          background-color: rgb(50, 50, 50);
        }

        i {
          font-size: 25px;
        }
      }

      button {
        background-color: #1ea1f2;
        color: white;
        padding: 10px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background-color: rgba(0, 97, 161, 0.512);
        }

        @include tablet {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          i {
            font-size: 25px;
          }
        }
      }
    }

    // User Info
    .user-info {
      display: flex;
      padding: 20px 0;
      align-items: end;
      align-items: center;
      gap: 25px;
      @include laptop {
        flex-direction: column;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        white-space: nowrap;
        font-size: 18px;
        @include tablet {
          display: none;
        }
      }

      button {
        background-color: gray;
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;
      }
    }
  }

  // Main
  main {
    border: 1px solid rgb(50, 50, 50);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    // Title
    #title {
      font-size: 20px;
      padding: 20px;
      font-weight: bold;
      border-bottom: 1px solid rgb(50, 50, 50);
    }

    // Form
    form {
      display: flex;
      padding: 10px;
      gap: 10px;
      border-bottom: 1px solid rgb(50, 50, 50);

      img {
        width: 50px;
        height: 50px;
      }

      div {
        width: 100%;

        input {
          width: 100%;
          background-color: transparent;
          font-size: 20px;
          padding: 10px 20px;
        }

        .btn-wrapper {
          display: flex;
          justify-content: end;
          button {
            background-color: #0e619b;
            padding: 10px;
            border-radius: 60px;
            font-size: 15px;
            color: white;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
              background-color: rgba(0, 98, 155, 0.608);
            }
          }
        }
      }
    }

    // Tweets Area
    #tweets-area {
      display: flex;
      flex-direction: column;

      .tweet {
        padding: 10px 0;
        border-bottom: 1px solid rgb(50, 50, 50);
        // User
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 20px;
          cursor: pointer;

          // User Info
          .tweet-user-info {
            display: flex;
            align-items: center;
            gap: 15px;
            color: white;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
            h4 {
              font-size: 15px;
              white-space: nowrap;
            }
            a {
              color: gray;
            }
            #tweet-date {
              white-space: nowrap;
              @include sm {
                display: none;
              }
            }
          }
          i {
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: #051723;
            }
          }
        }

        // Content
        .tweet-content {
          padding: 30px !important;
          width: 100%;
          @include sm {
            width: 85% !important;
          }
          a {
            color: white;
            img,
            video {
              width: 100%;
              max-height: 500px;
              border-radius: 10px;
              object-fit: cover;
              margin: 10px;
            }
          }
        }

        // Tweet Info
        .tweet-info {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            background: transparent;
            color: rgb(136, 136, 136);
            font-size: 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover i {
              background-color: #051723;
            }
            &:hover span {
              color: #09578b;
            }
            i {
              padding: 10px;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
  // Right
  .right-aside {
    @include tablet {
      display: none;
    }
  }
}
