@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.auth-page {
  background-color: #1e1e1e;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.auth-page #login-form {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  border: 1px solid #444444;
  border-radius: 10px;
  gap: 50px;
  min-width: 450px;
}
.auth-page #login-form img {
  width: 80px;
}
.auth-page #login-form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.auth-page #login-form div input {
  padding: 8px 20px;
  border-radius: 5px;
}
.auth-page #login-form div .name-warning,
.auth-page #login-form div .password-warning {
  background-color: #f8d7da;
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}
.auth-page #login-form #auth-btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s ease;
}
.auth-page #login-form #auth-btn:hover {
  opacity: 0.8;
}

.feed-page {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}
@media (max-width: 768px) {
  .feed-page {
    grid-template-columns: 1fr 600px !important;
  }
}
@media (max-width: 700px) {
  .feed-page {
    grid-template-columns: 70px 1fr !important;
  }
}
.feed-page .left-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  min-height: 100vh;
  margin-top: 20px;
  padding: 10px;
}
.feed-page .left-aside nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feed-page .left-aside nav img {
  width: 80px;
}
@media (max-width: 1000px) {
  .feed-page .left-aside nav img {
    width: 50px;
  }
}
@media (max-width: 1000px) {
  .feed-page .left-aside nav {
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .feed-page .left-aside nav span {
    display: none !important;
  }
}
.feed-page .left-aside nav a {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 10px;
  border-radius: 6px;
  transition: all 0.5s ease;
  font-size: 20px;
}
.feed-page .left-aside nav a:hover {
  background-color: rgb(50, 50, 50);
}
.feed-page .left-aside nav a i {
  font-size: 25px;
}
.feed-page .left-aside nav button {
  background-color: #1ea1f2;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.feed-page .left-aside nav button:hover {
  background-color: rgba(0, 97, 161, 0.512);
}
@media (max-width: 1000px) {
  .feed-page .left-aside nav button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .feed-page .left-aside nav button i {
    font-size: 25px;
  }
}
.feed-page .left-aside .user-info {
  display: flex;
  padding: 20px 0;
  align-items: end;
  align-items: center;
  gap: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1300px) {
  .feed-page .left-aside .user-info {
    flex-direction: column;
  }
}
.feed-page .left-aside .user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.feed-page .left-aside .user-info p {
  white-space: nowrap;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .feed-page .left-aside .user-info p {
    display: none;
  }
}
.feed-page .left-aside .user-info button {
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.feed-page main {
  border: 1px solid rgb(50, 50, 50);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.feed-page main #title {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.feed-page main form {
  display: flex;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.feed-page main form img {
  width: 50px;
  height: 50px;
}
.feed-page main form div {
  width: 100%;
}
.feed-page main form div input {
  width: 100%;
  background-color: transparent;
  font-size: 20px;
  padding: 10px 20px;
}
.feed-page main form div .btn-wrapper {
  display: flex;
  justify-content: end;
}
.feed-page main form div .btn-wrapper button {
  background-color: #0e619b;
  padding: 10px;
  border-radius: 60px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.feed-page main form div .btn-wrapper button:hover {
  background-color: rgba(0, 98, 155, 0.608);
}
.feed-page main #tweets-area {
  display: flex;
  flex-direction: column;
}
.feed-page main #tweets-area .tweet {
  padding: 10px 0;
  border-bottom: 1px solid rgb(50, 50, 50);
}
.feed-page main #tweets-area .tweet .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}
.feed-page main #tweets-area .tweet .user .tweet-user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.feed-page main #tweets-area .tweet .user .tweet-user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.feed-page main #tweets-area .tweet .user .tweet-user-info h4 {
  font-size: 15px;
  white-space: nowrap;
}
.feed-page main #tweets-area .tweet .user .tweet-user-info a {
  color: gray;
}
.feed-page main #tweets-area .tweet .user .tweet-user-info #tweet-date {
  white-space: nowrap;
}
.feed-page main #tweets-area .tweet .user i {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feed-page main #tweets-area .tweet .user i:hover {
  background-color: #051723;
}
.feed-page main #tweets-area .tweet .tweet-content {
  padding: 30px !important;
  width: 100%;
}
.feed-page main #tweets-area .tweet .tweet-content a {
  color: white;
}
.feed-page main #tweets-area .tweet .tweet-info {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feed-page main #tweets-area .tweet .tweet-info button {
  background: transparent;
  color: rgb(136, 136, 136);
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.feed-page main #tweets-area .tweet .tweet-info button:hover i {
  background-color: #051723;
}
.feed-page main #tweets-area .tweet .tweet-info button:hover span {
  color: #09578b;
}
.feed-page main #tweets-area .tweet .tweet-info button i {
  padding: 10px;
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .feed-page .right-aside {
    display: none;
  }
}

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.top i {
  color: white;
}

.banner-image {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.user-info {
  padding: 20px;
}
.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-info .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}
.user-info .btn-wrapper .btn {
  background-color: transparent;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 15px;
  display: grid;
  place-items: center;
}
.user-info .btn-wrapper button {
  width: 100px;
  border-radius: 50px;
  height: 30px;
  font-size: 15px;
}

.user-detail {
  padding: 10px;
  border-bottom: 1px solid rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-detail h1 {
  font-size: 20px;
}
.user-detail .username {
  color: gray;
}
.user-detail div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.user-detail div p {
  color: gray;
}
.user-detail div p span {
  color: white;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */