.flexBox {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $hover-effect;
  }
}
